/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mrl-box {
  border: 2px solid rgb(54, 54, 54);
  box-sizing: border-box;
}

.c-pointer {
  cursor: pointer;
}

.jax-process {
  text-overflow: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  min-height: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  color: inherit;
  background: none;
}

.rel {
  color: rgb(72, 206, 123);
}
