<mrl-loader [loading]="loading">
  <div class="container">
    <div class="row">
      <form
        class="card col-12 col-md-10 col-lg-9 col-xl-8 ms-auto mx-auto"
        [formGroup]="postForm"
        (ngSubmit)="submitForm()"
      >
        <div class="card-header">
          <h3 class="card-title">Formulário de uma publicação nova</h3>
        </div>
        <div class="card-body">
          <div class="col-12 p-2 d-inline-block">
            <mrl-control-input
              [control]="getControl('title')"
              label="Título"
              type="text"
              placeholder="Em relação à $\pi(x)$ e $\frac{x}{\ln{x}}$"
            ></mrl-control-input>
          </div>

          <div class="col-12 p-2 d-inline-block">
            <mrl-control-textarea
              [control]="getControl('text')"
              label="Texto"
              type="textarea"
              (focusOut)="onTextFocusedOut()"
              placeholder="Digamos que $\pi(x)$ denota a quantidade de números primos $\leq x$ de tal forma que por exemplo, $\pi(10)=4$ porque existem 4 números primos até 10, que são todos 2, 3, 5, 7..."
            ></mrl-control-textarea>
          </div>

          <div class="col-12 p-2 d-inline-block">
            <p [mathjax]="currentDemo"></p>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-danger float-start" [routerLink]="['/']">
            Cancelar
          </button>
          <button
            class="btn btn-outline-dark float-end"
            [disabled]="postForm.invalid"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</mrl-loader>
