<div class="container p-md-3">
  <h1>We need you!</h1>
  <p>
    This project of ours called Mat<strong class="rel">REL</strong> consists on allowing anyone to be able to express their mathematical thoughts in such a way, that independently if you have done any studies on any university, you will be able to publish <strong>watever were your discoveries</strong>.
  </p>
  <p>
    Surely though, not all them are going to get known by everyone, <strong>because that is not in our reach</strong>.
  </p>
  <p>
    For this website to reach it's best position it can reach <strong>we need you</strong>!
    We need you to do a donation to help us mantain our website so that we can continue publishing your discoveries and reading the discoveries you <strong>like the most</strong>.
  </p>
  <p>
    Our website does not force anyone to pay some amount so that they can use it, <strong>we could have done our website that way</strong>.
    But we prefer that our <strong>website is accessible to everybody</strong> to reach the place we wish for it to reach.
  </p>
  <p>
    We realize that not everybody can, nor will, be able to donate to help Mat<strong class="rel">REL</strong>, although, even if only you make a donation that is <strong>already enough</strong>.
  </p>
  <h1 class="main-text text-center">Help us help you!</h1>
  <div class="d-flex justify-content-center">
    <button class="btn btn-lg btn-success">Make a donation</button>
  </div>
</div>
