<mrl-loader [loading]="loading">
  <div class="container pt-5">
    <div class="row">
      <h1>{{ user?.name }}</h1>
      <h4>{{ user?.bio }}</h4>
    </div>
    <div class="row">
      <div class="card col-12 col-sm-10 col-md-8 me-auto">
        <div class="card-header">
          <h1 class="card-title">Posts</h1>
        </div>

        <div class="card-body">
          <mrl-posts-display
            [filter]="{
              'user._id': user?._id
            }"
            [occupyAllSpace]="true"
          ></mrl-posts-display>
        </div>
      </div>
    </div>
  </div>
</mrl-loader>
