<mrl-loader [loading]="loading">
  <div class="container d-flex w-100 h-75 justify-content-center align-items-center">
    <div class="card col-12 col-md-7 col-lg-6">
      <form [formGroup]="createAccountForm" (ngSubmit)="sendForm()" class="card-body w-100">
        <h3 class="card-title mb-4 mt-1 text-center">Create account</h3>

        <div class="col-12 p-2 d-inline-block">
          <mrl-control-input
            [control]="getControl('name')"
            label="Username"
            placeholder="gabrielmfern"
          ></mrl-control-input>
        </div>

        <div class="col-12 p-2 d-inline-block">
          <mrl-control-input
            #emailControl
            [control]="getControl('email')"
            label="Email"
            type="email"
            [customErrorMessage]="{
              'user-already-exists': 'There already exists a user with this email!'
            }"
            placeholder="meu@email.com"
          ></mrl-control-input>
        </div>

        <div class="col-12 p-2 d-inline-block">
          <mrl-control-input
            [control]="getControl('password')"
            label="Password"
            type="password"
            placeholder="123456"
          ></mrl-control-input>
        </div>

        <!-- <div class="col-12 p-2 d-inline-block">
          <mrl-control-check
            [control]="getControl('acceptTerms')"
            label="I accept the terms of service"
          ></mrl-control-check>
        </div> -->

        <div class="form-group mt-3 d-flex">
          <a class="btn btn-link-rel" [routerLink]="['/security/login']">Already have a account? Login here!</a>

          <button
            type="submit"
            class="btn btn-rel ms-auto"
            [ngClass]="{ disabled: createAccountForm.invalid }"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</mrl-loader>
