<mrl-loader [loading]="loading">
  <div class="card col-12 col-md-10 col-lg-8 ms-auto mx-auto">
    <div class="card-header">
      <h3 class="card-title d-inline-block" [mathjax]="post?.title"></h3>

      <span class="float-end">
        <button
          class="btn"
          [ngClass]="{ 'no-pointer': authService.isLoggedIn || isAuthor }"
          [disabled]="isAuthor || hasAgreed"
          (click)="agree()"
        >
          <i class="fa fa-thumbs-up"></i>
          {{ post?.agreed?.length }}
        </button>
        <button
          class="btn"
          [ngClass]="{ 'no-pointer': authService.isLoggedIn || isAuthor }"
          [disabled]="isAuthor || hasDisagreed"
          (click)="disagree()"
        >
          <i class="fa fa-thumbs-down"></i>
          {{ post?.disagreed?.length }}
        </button>
      </span>
    </div>
    <div class="card-body">
      <p [mathjax]="post?.text"></p>
    </div>
    <div class="card-footer d-flex">
      <button class="btn btn-secondary-rel" [routerLink]="['/']"><i class="fa fa-angle-left"></i> Back</button>
      <p class="ms-auto mt-auto mb-auto">{{ post?.user?.name }} {{ post?.publishingDate | date }}</p>
    </div>
    <mrl-commentary-list [post]="post"></mrl-commentary-list>
  </div>
</mrl-loader>
