<mrl-loader [loading]="loading">
  <div class="container">
    <div class="row">
      <form
        class="card col-12 col-md-10 col-lg-9 col-xl-8 ms-auto mx-auto form-card pb-2"
        [formGroup]="postForm"
        (ngSubmit)="submitForm()"
      >
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Edit</a>
            <ng-template ngbNavContent>
              <div class="card-header">
                <h3 class="card-title">New publication</h3>
              </div>
              <div class="card-body">
                <div class="col-12 p-2 d-inline-block">
                  <mrl-control-input
                    [control]="getControl('title')"
                    label="Title"
                    type="text"
                    (focusOut)="onTitlteFocusedOut()"
                    placeholder="Regarding $\pi(x)$ and $\frac{x}{\ln{x}}$"
                  ></mrl-control-input>
                </div>

                <div class="col-12 p-2 d-inline-block">
                  <mrl-control-textarea
                    [control]="getControl('text')"
                    label="Text"
                    type="textarea"
                    (focusOut)="onTextFocusedOut()"
                    placeholder="Let $\pi(x)$ denote the amount of prime numbers that are $\leq x$ in such way that for example, $\pi(10)=4$, because there are 4 prime numbers up to 10, that are all 2,3,5,7 [...]"
                    [rows]="10"
                  ></mrl-control-textarea>
                </div>

                <div class="col-12 p-2 row">
                  <div class="col-9">
                    <mrl-control-select
                      [control]="tagControl"
                      label="Tags"
                      [validate]="false"
                      [disabled]="getAvailableTags().length == 0"
                      [placement]="'top'"
                      [options]="getAvailableTags()"
                    ></mrl-control-select>
                  </div>

                  <div class="col-3 mt-auto">
                    <button
                      class="btn btn-secondary-rel float-end"
                      type="button"
                      [disabled]="getAvailableTags().length == 0 || tags.length == 4"
                      (click)="addTag(tagControl.value)"
                    >
                      Add tag
                    </button>
                  </div>

                  <div class="col-12 mt-2">
                    <p *ngIf="tags.length == 0">To publish this you will need at least one tag.</p>

                    <button class="btn btn-danger-rel ms-2 mt-2" *ngFor="let tag of tags" type="button" (click)="removeTag(tag)">
                      {{ tag }}

                      <i class="fa fa-close"></i>
                    </button>
                  </div>
                </div>

                <div class="col-12">
                  <mrl-control-check
                    [control]="getControl('public')"
                    label="Should this post be public?"
                  ></mrl-control-check>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-danger-rel float-start" [routerLink]="['/']">Cancel</button>
                <button class="btn btn-secondary-rel float-end" type="submit" [disabled]="postForm.invalid || tags.length == 0">
                  Send
                </button>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Preview</a>
            <ng-template ngbNavContent>
              <div class="card-header">
                <h3 class="card-title" [mathjax]="previewTitle"></h3>
              </div>
              <div class="card-body">
                <p [mathjax]="previewText"></p>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </form>
    </div>
  </div>
</mrl-loader>
