.post-cards-list {
  // overflow-y: auto;
  // max-height: 600px;
  overflow-x: hidden;
  background: none;
}

.paginator {
  padding-bottom: 30px;

  * {
    width: 60px;
  }

  button {
    width: 30px;
  }
}
