<ul class="list-group">
  <li class="list-group-item" *ngFor="let commentary of commentaries">
    <span [mathjax]="commentary.text"></span> - {{ commentary.user.name }}
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-10">
        <mrl-control-input
          [control]="commentaryTextControl"
          placeholder="I believe your thesis is wrong because [...]"
          [validate]="false"
        ></mrl-control-input>
      </div>
      <div class="col-2">
        <button class="btn btn-warning mx-auto" (click)="comment()">Comment</button>
      </div>
    </div>
  </li>
  <button class="list-group-item list-group-item-action" type="button" *ngIf="currentPage < pageAmount">
    Load more...
  </button>
</ul>
