<div class="container p-md-3">
  <h1>Nós precisamos de você!</h1>
  <p>Esse projeto chamado Mat<strong class="rel">REL</strong> consiste em permitir que todos tenham um local, sem qualquer represalha, para poderem expressar seus pensamentos matemáticos de tal forma, que independente se você tiver ou não algum nível de estudo universitário, você poderá publicar <strong>quaisquer que forem suas descobertas</strong>.</p>
  <p>Claro que no entanto, nem todas elas vão ficar conhecidas por todos, porque isso não está em nosso alcance.</p>
  <p>Para alcançar o ponto mais alto que esse site pode alcançar, <strong>precisamos de você</strong>! Precisamos que você faça uma doação para nos ajudar a manter o nosso site para que você possa continuar publicando suas descobertas e vendo as descobertas ou as discussões que você <strong>mais ama</strong>.</p>
  <p>O nosso site não procura forçar alguém para que paguem algo para poderem utilizar dele, <strong>nós o poderiamos fazer se quiséssemos</strong>.</p>
  <p>Nós percebemos que nem todos podem, nem vão, querer doar para ajudar o nosso querido site, no entanto, se você fizer uma doação já é <strong>mais que suficiente</strong>.</p>
  <h1 class="main-text text-center text-italics">Nos ajude para que nós possamos ajudar você!</h1>
  <div class="d-flex justify-content-center">
    <button class="btn btn-lg btn-success">Fazer uma doação</button>
  </div>
</div>
