<div class="container">
  <div class="row mb-5">
    <div class="col-12 col-md-10 col-lg-9 ms-auto mx-auto">
      <div class="card">
        <div class="card-body row">
          <div class="col-9" [ngClass]="{
            'col-12': !authService.isLoggedIn
          }">
            <mrl-control-input
              [control]="searchControl"
              type="text"
              (focusOut)="handleSearch()"
              [validate]="false"
              placeholder="The proof of [...]"
            ></mrl-control-input>
          </div>
          <div class="col-3" *ngIf="authService.isLoggedIn">
            <button class="btn btn-secondary-rel float-end" [routerLink]="['/publishing-post']">
              New publication
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mrl-posts-display #postsDisplay></mrl-posts-display>
</div>
