<div class="form-group w-100">
  <label [for]="getInputId()" *ngIf="hasLabel()">
    {{ label }}
  </label>

  <input
    [type]="type"
    class="form-control w-100"
    [id]="getInputId()"
    [placeholder]="placeholder"
    [formControl]="control"
    (focusout)="focusOut.emit($event)"
    [ngClass]="{
      'is-valid': isValid(),
      'is-invalid': isInvalid()
    }"
  />

  <!-- <small class="invalid-feedback" *ngIf="isInvalid()">
    {{ getErrorMessage() }}
  </small> -->
  <div class="invalid-feedback">
    {{ getErrorMessage() }}
  </div>
</div>
