<section class="whatisthisplace text-center">
  <h1 class="title">Mat<span class="rel">Rel</span></h1>
  <h2 class="subtitle">The new land of <span class="rel">discoveries</span></h2>
  <p>This is a website created by <span class="rel">Gabriel Miranda</span> made for people to share their discoveries independent of where they came from and what they studied regarding Mathematics.</p>
  <p>This is where you can write down whatever were your discoveries and discuss them with people about them!</p>
  <p>We are just starting but you can already <a class="btn btn-link-rel mt-0 create-account-link" [routerLink]="['/security/create-account']">create an account</a> and start writing both your discoveries and discussing with people about theirs!</p>
</section>
