<mrl-loader [loading]="loading">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title d-inline-block c-pointer">
        <a [routerLink]="['/post/' + post._id]" [mathjax]="post.title"></a>
      </h5>
    </div>
    <div class="card-body">
      <p class="card-text" [mathjax]="post.text"></p>
    </div>
    <div class="card-footer d-flex">
      <p class="mt-auto mb-auto"><a class="btn btn-link-rel delete-commentary c-pointer" [routerLink]="['/user/' + post?.user?._id]">{{ post?.user?.name }}</a> {{ post.publishingDate | date }}</p>
      <span class="mx-auto d-inline-block">
        <span class="btn no-pointer">
          <i class="fa fa-thumbs-up"></i>
          {{ post?.agreed?.length }}
        </span>
        <span class="btn no-pointer">
          <i class="fa fa-thumbs-down"></i>
          {{ post?.disagreed?.length }}
        </span>
      </span>
      <a class="btn btn-rel ms-auto" *ngIf="isLoggedUserAuthor()" (click)="editPost()">Edit</a>
      <a class="btn btn-danger-rel ms-1" *ngIf="isLoggedUserAuthor()" (click)="deletePost()">Delete</a>
    </div>
  </div>
</mrl-loader>
