.card {
  width: 100%;
  overflow-x: hidden;

  * {
    text-overflow: ellipsis;
  }

  .card-title {
    vertical-align: center;
  }

  .card-body {
    max-height: 120px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
